.char-list{
  background-color: red;
}

.hc1{
  width: 200px;
  height: 20px;
  background-color: lightblue;
  border-radius: 20px;
  border-width: 5px;
  border-color: black;
}

.hb1{
  width: 100px;
  height: 20px;
  background-color: lightgreen;
  border-radius: 20px;
}

#oneCont{
    display: inline-block;
    float: left;
    width: 500px;
    background-color: red;
    border-radius: 20px;
}

#twoCont{
    display: inline-block;
    float: right;
    width: 500px;
    background-color: red;
}

.charButton{
  display: inline;
}
