html, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Press Start 2P', cursive;
  /*font-family: 'Roboto', sans-serif;*/
}

h1 {
  font-size: 32px;
  text-align: center;
  color: #941B08;
  text-shadow: 2px 2px 2px gold;

}

body {
  background-color: white;
  /*padding-left: 8px;*/
  background-image: url(http://i.imgur.com/0K1CoIw.jpg);
  background-position: top;
  background-size: cover;
  align-self: center;
}

.col {
  /*background-color: lime;*/
  max-height: 300px;
  overflow-y: auto;
}

/*http://i.imgur.com/0K1CoIw.jpg*/

/*http://www.powerpointhintergrund.com/uploads/2017/07/mega-yo-hace-m-s-de-2-a-os-0-29.png*/


ul {
  list-style: none;
  padding: 0px;
}

.row {
  align-items: center;
}

button {
  display: inline-block;
  /*padding: 10px 20px;
  font-size: 18px;*/
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: gold;
  background-color: #941B08;
  border: 8px;
  border-radius: 0px;
  margin-bottom: 10px;
}

button:hover {
  background-color: gold;
  color: #941B08;
}

button:active {
  background-color: gold;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/*.spell{
  display: inline-block;
  float: right;
}

.spell-type{
  display: inline-block;
  float: left;
}*/


.char-container {
    /*display: inline-block;*/
    /*float: right;*/
    width: 500px;
    background-color: #941B08;
}


#p1-container{
    display: inline-block;
    /*background-color: #941B08;*/

}

#p1-container.card-header{
    display: inline-block;
    background-color: #F7F778;

}

#p2-container{
    display: inline-block;
    /*background-color: #941B08;*/

}

.charButton{
  display: inline;
}

.logo{
  width: 100px;
  border-radius: 20px;
  display: inline-block;
  /*float: right;
  margin: 30px;*/
}

/* ===== cards ===== */

.card-deck {
  width: 95%;
  align-items: flex-start;
  /*align-self: center;*/
  /*align-content: center;*/
}

.card {
  background-color: #000000;
  border: 4px solid #000000;

}

.card-header {
  background-color: #000000;
  border-radius: 2px;
  color: #FFFFFF;
  text-align: center;
  top: 50%;
  left: 50%;
  vertical-align: middle;
}

.card-body {
  background-color: #FFFFFF;
  text-align: center;
  border: 1px solid #666666;
  border-top-style: solid;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 100%;
  align-items: center;
}

.card-footer {
  background-color: #FFFFFF;
  border-bottom: 1px solid #666666;
  text-align: center;
}

.card-img-top {
  height: 300px;
}

/*#p1-header {
  background-color: #F7F778;
}

#p2-header {
  background-color: #78B7F7;
}*/

#game-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#game-header {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  top: 50%;
  left: 50%;
  vertical-align: middle;
}

#game-details-card{
    vertical-align: middle;
    width: 75%;
}

#p1-game-details {
  text-align: center;
  top: 50%;
  left: 50%;
  vertical-align: middle;
}

#p2-game-details {
  text-align: center;
  top: 50%;
  left: 50%;
  vertical-align: middle;

}

/* ===== progress bar ===== */

.progress {
  background-color: red;
}

.progress-bar {
  font-size: 12px;
}

/* ===== */


.welcome {
  padding: 24px;
}

.fa{
  font-size: 40px;
}

#mute{
  width: 60px;
}


/* ===== barry otter ===== */

#barry-otter-text {
  color: white;
  text-shadow: 1px 1px 1px #999999;
}
