body {
  font-family: 'Press Start 2P', cursive;
}

nav {
  align-content: center;
  background-color: maroon;
  color: white;
  display: inline-block;
  position: fixed;
  width: 100%;
}

header {

}

div {

}

ul {
  list-style: none;
}

button {
  font-family: 'Press Start 2P', cursive;
}

.character-image{
  width: 200px;
  border-radius: 20px;
  display: inline-block;
  float: right;
  margin: 30px;
}

.char-list{
  background-color: red;
}

.char-container {
  padding-top: 64px;
}

.hc{
  width: 200px;
  height: 20px;
  background-color: lightblue;
  border-radius: 20px;
  border-width: 5px;
  border-color: black;
  margin: 30px;
}

.hb{
  width: 100px;
  height: 20px;
  background-color: lightgreen;
  border-radius: 20px;
}

#p1-container{
    background-color: red;
    border-radius: 20px;
    display: inline-block;
    float: right;
    position: relative;
    width: 500px;
}

#p2-container{
    background-color: red;
    border-radius: 20px;
    display: inline-block;
    float: right;
    position: relative;
    width: 500px;
}

.charButton{
  display: inline;
}
