html, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Press Start 2P', cursive;
}

h1 {
  text-align: center;
  color: #941B08;
  text-shadow: 2px 2px 2px gold;

}

body {
  background-color: white;
  /*padding-left: 8px;*/
  background-image: url(http://i.imgur.com/0K1CoIw.jpg);
  background-position: top;
  background-size: cover;
  align-self: center;
}

/*http://i.imgur.com/0K1CoIw.jpg*/

/*http://www.powerpointhintergrund.com/uploads/2017/07/mega-yo-hace-m-s-de-2-a-os-0-29.png*/


ul {
  list-style: none;
}

button {
  display: inline-block;
  /*padding: 10px 20px;
  font-size: 18px;*/
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #941B08;
  border: 8px;
  border-radius: 0px;
  margin-bottom: 10px;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/*.spell{
  display: inline-block;
  float: right;
}

.spell-type{
  display: inline-block;
  float: left;
}*/


.char-container {
    /*display: inline-block;*/
    /*float: right;*/
    width: 500px;
    background-color: #941B08;
}


#p1-container{
    display: inline-block;
    /*background-color: #941B08;*/

}

#p2-container{
    display: inline-block;
    /*background-color: #941B08;*/

}

.charButton{
  display: inline;
}

.logo{
  width: 100px;
  border-radius: 20px;
  display: inline-block;
  /*float: right;
  margin: 30px;*/
}

/* ===== cards ===== */

.card-deck {
  width: 95%;
  align-items: flex-start;
  /*align-self: center;*/
  /*align-content: center;*/
}


.card {
  border: 4px solid #941B08;
}

.card-header {
  text-align: center;
}

.card-body {
  text-align: center;
}

.card-img-top {
  height: 300px;
}

#game-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#game-details-card{
    vertical-align: middle;
    width: 75%;
}

#p1-game-details {
  text-align: center;
  top: 50%;
  left: 50%;
  vertical-align: middle;
}

#p2-game-details {
  text-align: center;
  top: 50%;
  left: 50%;
  vertical-align: middle;

}

/* ===== progress bar ===== */

.progress {
  background-color: red;
}

/* ===== */


.welcome {
  padding: 24px;
}


/* ===== barry otter ===== */

#barry-otter-text {
  color: white;
  text-shadow: 1px 1px 1px #999999;
}
