html, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Press Start 2P', cursive;
  /*font-family: 'Roboto', sans-serif;*/
}

body {
  background-color: white;
  margin: 8px;
  background-image: url(http://i.imgur.com/0K1CoIw.jpg);
  background-position: top;
  background-size: cover;
  align-self: center;
}

h1 {
  font-size: 32px;
  text-align: center;
  color: #941B08;
  text-shadow: 2px 2px 2px gold;
}

button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: gold;
  background-color: #941B08;
  border: 8px;
  border-radius: 0px;
  margin-bottom: 5px;
  width: -webkit-fill-available;
}

button:hover {
  background-color: gold;
  color: #941B08;
}

button:active {
  background-color: gold;
  box-shadow: 0 5px #666;
  /*transform: translateY(4px);*/
}

ul {
  list-style: none;
  padding: 0px;
}

.col {
  width: auto;
  max-height: 300px;
  overflow-y: auto;
}

/*http://i.imgur.com/0K1CoIw.jpg*/

/*http://www.powerpointhintergrund.com/uploads/2017/07/mega-yo-hace-m-s-de-2-a-os-0-29.png*/


.row {
  align-items: center;
}

#p1-container{
    display: inline-block;
}


#p2-container{
    display: inline-block;
}

/*.charButton{
  display: inline;
}*/

/* ===== cards ===== */

.card-deck {
  width: 100%;
  align-items: flex-start;*/
  /*align-self: center;*/
  /*align-content: center;*/
}

.card {
  background-color: #000000;
  border: 4px solid #000000;
}

.card-header {
  background-color: #000000;
  border-radius: 2px;
  color: #FFFFFF;
  text-align: center;
  top: 50%;
  left: 50%;
  vertical-align: middle;
}

.card-body {
  background-color: #FFFFFF;
  text-align: center;
  border: 1px solid #666666;
  border-top-style: solid;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 100%;
  align-items: center;
}

.card-footer {
  background-color: #FFFFFF;
  border-bottom: 1px solid #666666;
  text-align: center;
}

.card-img-top {
  height: 300px;
}

.player-card-body {
  background-color: #E2E2E2;
}

.char-list {
  margin: auto;
}

/*.spell{
  display: inline-block;
  float: right;
}*/

.spell-type{
  display: inline-block;
  max-width: 200px;
}


#game-details-card {
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    max-width: 350px;
}

#game-header {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  top: 50%;
  left: 50%;
  vertical-align: middle;
}

#game-details-card{
    vertical-align: middle;
    width: 75%;
}

#p1-game-details {
  text-align: center;
  top: 50%;
  left: 50%;
  vertical-align: middle;
}

#p2-game-details {
  text-align: center;
  top: 50%;
  left: 50%;
  vertical-align: middle;

}

/* ===== progress bar ===== */

.progress {
  background-color: red;
}

.progress-bar {
  font-size: 12px;
}

/* ===== page title ===== */


.welcome {
  padding: 24px;
}

/* ===== audio mute button ===== */

.fa{
  font-size: 40px;
}

#mute{
  width: 60px;
}


/* ===== barry otter ===== */

#barry-otter-text {
  color: white;
  text-shadow: 1px 1px 1px #999999;
}
